<div class="column">
  <h1 class="title">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <div class="field">
      <label class="label">Name:</label>
      <div class="control">
        <input class="input" type="text" formControlName="name">
      </div>
    </div>


    <div class="field">
      <label class="label">Password:</label>
      <div class="control">
        <input class="input" type="password" formControlName="password">
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-link" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </div>
  </form>
</div>